@import "tailwindcss";

.hero-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 9999px;
  border: 2px solid rgba(110, 231, 183, 0.05);
  box-shadow: inset 0 0 80px rgba(110, 231, 183, 0.05);
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1024px) {
  .container {
    max-width: 64rem;
  }
}

.text-gradient {
  background-image: linear-gradient(to right, #34d399, #3b82f6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.glass-effect {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.fill-tech-gradient {
  fill: url(#tech-icon-gradient);
}

button {
  cursor: pointer;
}
